@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Molle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font1 {
  font-family: "MuseoModerno", cursive;
}

.font2 {
  font-family: "Orbitron", sans-serif;
}

.font3 {
  font-family: "Molle", cursive;
}

.font4 {
  font-family: "Racing Sans One", cursive;
}

.font5 {
  font-family: "ZCOOL KuaiLe", sans-serif;
}

.font6 {
  font-family: "Bangers", cursive;
}

.font7 {
  font-family: "Comic Neue", cursive;
}

.font8 {
  font-family: "VT323", monospace;
}
